/* Importa la fuente 'Open Sans' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset de estilos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establece la fuente predeterminada para el cuerpo del documento */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para el encabezado */
header {
    background-color: #f2f2f2; /* Color de fondo */
    text-align: center; /* Alinea el contenido del encabezado al centro */
    padding: 25px 0px;  /* 25px arriba y abajo, 0px a la izquierda y derecha */
}

nav a {
    display: inline-block;
    text-decoration: none;  /* Elimina el subrayado del enlace */
    color: #696969;
    margin: 0px 30px;
    padding: 5px 15px;
    border-radius: 30px; /* Bordes redondeados cuando se pasa el cursor */
}

nav a:hover {
    background-color: #000; /* Fondo negro cuando se pasa el cursor */
    color: #fff; /* Texto blanco cuando se pasa el cursor */
}

.encabezado-img {
    background-image: url(./Assets/img_1.jpeg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.encabezado-img p{
    font-size: 20;
}

.encabezado-img h1{
    font-size: 40;
}
